<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"
                 targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                               multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="throttled">
          <serviceThrottling maxConcurrentCalls="2"
                             maxConcurrentSessions="2"
                             maxConcurrentInstances="2" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netMsmqBinding>
        <binding name="ourMsmqBinding"
                 maxRetryCycles="2"
                 retryCycleDelay="0:5:0"
                 useActiveDirectory="false"
                 timeToLive="7:0:0"
                 durable="true"
                 receiveErrorHandling="Move">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport msmqAuthenticationMode="None"/>
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <services>
      <service name="MsmqDemo.Services.SubmitOrderService"
               behaviorConfiguration="throttled">
        <endpoint address="net.msmq://localhost/private/MsmqDemo/SubmitOrderService.svc"
                  binding="netMsmqBinding"
                  bindingConfiguration="ourMsmqBinding"
                  contract="MsmqDemo.Services.Shared.ISubmitOrderService" />
      </service>

    </services>
  </system.serviceModel>
</configuration>
